[submodule "skarnet/skalibs"]
	path = skarnet/skalibs
	url = https://github.com/skarnet/skalibs.git
[submodule "skarnet/execline"]
	path = skarnet/execline
	url = https://github.com/skarnet/execline.git
[submodule "skarnet/s6"]
	path = skarnet/s6
	url = https://github.com/skarnet/s6.git
[submodule "progs/gaogao"]
	path = progs/gaogao
	url = https://gitlab.com/muhmuhten/gaogao.git
[submodule "progs/subreap"]
	path = progs/subreap
	url = https://gitlab.com/muhmuhten/subreap.git
[submodule "progs/jset"]
	path = progs/jset
	url = https://gitlab.com/muhmuhten/jset.git
