[submodule "skarnet/skalibs"]
	path = skarnet/skalibs
	url = https://github.com/skarnet/skalibs.git
[submodule "skarnet/execline"]
	path = skarnet/execline
	url = https://github.com/skarnet/execline.git
[submodule "skarnet/s6"]
	path = skarnet/s6
	url = https://github.com/skarnet/s6.git
[submodule "progs/subreap"]
	path = progs/subreap
	url = https://github.com/muhmuhten/subreap.git
[submodule "progs/jset"]
	path = progs/jset
	url = https://github.com/muhmuhten/jset.git
[submodule "progs/exec0"]
	path = progs/exec0
	url = https://github.com/muhmuhten/exec0.git
[submodule "progs/rol"]
	path = progs/rol
	url = https://github.com/muhmuhten/rol.git
